- A method to run a test                                              x
- A method to set up testing environment                              x
- A method to deallocate external resources (a tearDown method)       x
- Invoke tearDown even if test method fails
- A method to run multiple tests
- Write a report of results
